Source: iconvwadw
Section: utils
Priority: optional
Maintainer: rsvzz <ronald_soft88@outlook.com>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, pkg-config, cargo-1.85, rustc-1.85, libgtk-4-dev, libadwaita-1-dev, librsvg2-dev (>= 2.58), libxml2-dev (>= 2.9)
Standards-Version: 4.5.0
Homepage: https://github.com/rsvzz/csven-rs

Package: iconvwadw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-4-1, libadwaita-1-0, adwaita-icon-theme, librsvg2-2
Description: icon-browser-adw allows you to view the gnome desktop icons with adwaita, allowing you to copy the icon names for use in your projects.
